#box{
	width: 300px;
	height: 300px;
	background: linear-gradient(green,yellow);	
	box-shadow: -5px 10px 5px 3px red,
				5px -10px 5px 4px blue;
}

#box h2{
	color: white;
	font-size: 30px;
	text-align: center;
	text-shadow: -5px 10px 5px rgba(0,0,0,0.5);
}